<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="SFTPUserAliases" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="alias">cadsruser</value>
        <value name="userName">cadsruser</value>
        <value name="authenticationType">password</value>
        <value name="sftpServerAlias">nciftpserver1</value>
        <value name="password">wm.is.admin.sftpclient.password.cadsruser</value>
        <number name="maximumRetries" type="java.lang.Integer">6</number>
        <number name="connectionTimeout" type="java.lang.Integer">0</number>
        <number name="sessionTimeout" type="java.lang.Integer">30</number>
        <value name="compression">none</value>
        <number name="compressionLevel" type="java.lang.Integer">6</number>
        <value name="strictHostKeyChecking">yes</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
