<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="users" id="1" javaclass="com.wm.util.Values">
    <record name="Administrator" id="2" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="3">Administrator</value>
      <value name="pass" id="4">(secret)</value>
      <value name="passHash" id="5">{sha-256_v2}iVRUUr9b2Wu6nClwhgtMp9ulAfirRX28TQKQIhlpvoetiWEVA9Eu4TAxMDAw</value>
      <record name="members" id="6" javaclass="com.wm.util.Values">
        <value name="Replicators" id="7">Replicators</value>
        <value name="MonitorAdministrators" id="8">MonitorAdministrators</value>
        <value name="Administrators" id="9">Administrators</value>
        <value name="Everybody" id="10">Everybody</value>
      </record>
      <value name="enabled" id="11">true</value>
      <value name="changeOnLogin" id="12">No</value>
      <value name="allowDigestAuth" id="13">false</value>
      <value name="passwordUpdatedOn" id="14">2019-11-22 13:56:58 EST</value>
      <array name="passwordHistory" type="record" depth="1" id="15">
      </array>
    </record>
    <record name="emailUser" id="16" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="17">emailUser</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="18">{sha-256_v2}hHSdITZ1I5R0mK3QlSL4IwVjUlXPzHgsOvCZ2Ov2AbDpdykDQehysDAxMDAw</value>
      <record name="members" id="19" javaclass="com.wm.util.Values">
        <object idref="10" name="Everybody"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
      <object idref="13" name="allowDigestAuth"/>
      <value name="passwordUpdatedOn" id="20">2021-05-12 13:01:02 EDT</value>
      <array name="passwordHistory" type="record" depth="1" id="21">
      </array>
    </record>
    <record name="onedata" id="22" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="23">onedata</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="24">{sha-256_v2}fWXE8BpYTeMNvTvAcRGDLqf3+yMpbXgTyQ3thWF6xn5qRzk6/uyjjjAxMDAw</value>
      <record name="members" id="25" javaclass="com.wm.util.Values">
        <value name="NCI-OneDataIHook" id="26">NCI-OneDataIHook</value>
        <value name="iHook" id="27">iHook</value>
        <object idref="10" name="Everybody"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
      <object idref="13" name="allowDigestAuth"/>
      <value name="passwordUpdatedOn" id="28">2021-05-06 11:37:07 EDT</value>
      <array name="passwordHistory" type="record" depth="1" id="29">
      </array>
    </record>
    <record name="Replicator" id="30" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="31">Replicator</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="32">{sha-256_v2}9e149iiCraSmQ9/XdKBc+/aclH36GjRrqnPSrKgpTksuxXV/h/ufdjAxMDAw</value>
      <record name="members" id="33" javaclass="com.wm.util.Values">
        <object idref="7" name="Replicators"/>
        <object idref="10" name="Everybody"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
      <object idref="13" name="allowDigestAuth"/>
      <value name="passwordUpdatedOn" id="34">2019-11-22 13:50:07 EST</value>
      <array name="passwordHistory" type="record" depth="1" id="35">
      </array>
    </record>
    <record name="biggersbb" id="36" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="37">biggersbb</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="38">{sha-256_v2}F4BhKXromJtycUEXsD0x6EJMa6FV9gd8LddAMzNjAtSfkrl6SSwRYzAxMDAw</value>
      <record name="members" id="39" javaclass="com.wm.util.Values">
        <object idref="7" name="Replicators"/>
        <value name="Developers" id="40">Developers</value>
        <object idref="9" name="Administrators"/>
        <object idref="10" name="Everybody"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
      <object idref="13" name="allowDigestAuth"/>
      <value name="passwordUpdatedOn" id="41">2021-04-20 13:25:22 EDT</value>
      <array name="passwordHistory" type="record" depth="1" id="42">
      </array>
    </record>
    <record name="Developer" id="43" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="44">Developer</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="45">{sha-256_v2}Hu/QJk9JQ+PSuSC+F4UeMdqE631xPkgfVC4pfDWpQbBMl9KTdQOPgTAxMDAw</value>
      <record name="members" id="46" javaclass="com.wm.util.Values">
        <object idref="40" name="Developers"/>
        <object idref="10" name="Everybody"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
      <object idref="13" name="allowDigestAuth"/>
      <object idref="34" name="passwordUpdatedOn"/>
      <array name="passwordHistory" type="record" depth="1" id="47">
      </array>
    </record>
    <record name="blyon" id="48" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="49">blyon</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="50">{sha-256_v2}zRD8LoxHdoLImJ/a/1OMHrW0uonymg2vWtwY88barYiA5pTupEeflDAxMDAw</value>
      <record name="members" id="51" javaclass="com.wm.util.Values">
        <object idref="9" name="Administrators"/>
        <object idref="10" name="Everybody"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
      <object idref="13" name="allowDigestAuth"/>
      <value name="passwordUpdatedOn" id="52">2022-10-31 11:34:06 EDT</value>
      <array name="passwordHistory" type="record" depth="1" id="53">
      </array>
    </record>
    <record name="Default" id="54" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="55">Default</value>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="56" javaclass="com.wm.util.Values">
        <value name="Anonymous" id="57">Anonymous</value>
        <object idref="10" name="Everybody"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
      <object idref="13" name="allowDigestAuth"/>
      <object idref="34" name="passwordUpdatedOn"/>
      <array name="passwordHistory" type="record" depth="1" id="58">
      </array>
    </record>
    <record name="nashmt" id="59" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="60">nashmt</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="61">{sha-256_v2}8/zav415g6MFwFgXrHq4hpIweMjIpfjAiHyehvISpa1UGZYHBL297jAxMDAw</value>
      <record name="members" id="62" javaclass="com.wm.util.Values">
        <object idref="7" name="Replicators"/>
        <object idref="40" name="Developers"/>
        <object idref="27" name="iHook"/>
        <object idref="9" name="Administrators"/>
        <object idref="10" name="Everybody"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
      <object idref="13" name="allowDigestAuth"/>
      <value name="passwordUpdatedOn" id="63">2022-03-07 10:40:20 EST</value>
      <array name="passwordHistory" type="record" depth="1" id="64">
      </array>
    </record>
  </record>
  <record name="groups" id="65" javaclass="com.wm.util.Values">
    <record name="NCI-OneDataIHook" id="66" javaclass="com.wm.app.b2b.server.Group">
      <object idref="26" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="67" javaclass="com.wm.util.Values">
        <object idref="23" name="onedata"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
    </record>
    <record name="Replicators" id="68" javaclass="com.wm.app.b2b.server.Group">
      <object idref="7" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="69" javaclass="com.wm.util.Values">
        <object idref="3" name="Administrator"/>
        <object idref="31" name="Replicator"/>
        <object idref="37" name="biggersbb"/>
        <object idref="60" name="nashmt"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
    </record>
    <record name="Developers" id="70" javaclass="com.wm.app.b2b.server.Group">
      <object idref="40" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="71" javaclass="com.wm.util.Values">
        <object idref="37" name="biggersbb"/>
        <object idref="44" name="Developer"/>
        <object idref="60" name="nashmt"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
    </record>
    <record name="iHook" id="72" javaclass="com.wm.app.b2b.server.Group">
      <object idref="27" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="73" javaclass="com.wm.util.Values">
        <object idref="23" name="onedata"/>
        <object idref="60" name="nashmt"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
    </record>
    <record name="MonitorAdministrators" id="74" javaclass="com.wm.app.b2b.server.Group">
      <object idref="8" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="75" javaclass="com.wm.util.Values">
        <object idref="3" name="Administrator"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
    </record>
    <record name="ReadOnlyAdministrators" id="76" javaclass="com.wm.app.b2b.server.Group">
      <value name="name" id="77">ReadOnlyAdministrators</value>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="78" javaclass="com.wm.util.Values">
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
    </record>
    <record name="Administrators" id="79" javaclass="com.wm.app.b2b.server.Group">
      <object idref="9" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="80" javaclass="com.wm.util.Values">
        <object idref="3" name="Administrator"/>
        <object idref="37" name="biggersbb"/>
        <object idref="49" name="blyon"/>
        <object idref="60" name="nashmt"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
    </record>
    <record name="Anonymous" id="81" javaclass="com.wm.app.b2b.server.Group">
      <object idref="57" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="82" javaclass="com.wm.util.Values">
        <object idref="55" name="Default"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
    </record>
    <record name="Everybody" id="83" javaclass="com.wm.app.b2b.server.Group">
      <object idref="10" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="84" javaclass="com.wm.util.Values">
        <object idref="3" name="Administrator"/>
        <object idref="17" name="emailUser"/>
        <object idref="23" name="onedata"/>
        <object idref="31" name="Replicator"/>
        <object idref="37" name="biggersbb"/>
        <object idref="44" name="Developer"/>
        <object idref="49" name="blyon"/>
        <object idref="55" name="Default"/>
        <object idref="60" name="nashmt"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
    </record>
    <record name="MonitorUsers" id="85" javaclass="com.wm.app.b2b.server.Group">
      <value name="name" id="86">MonitorUsers</value>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="87" javaclass="com.wm.util.Values">
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="changeOnLogin"/>
    </record>
  </record>
  <object idref="83" name="allusers"/>
  <object idref="2" name="adminUser"/>
  <object idref="54" name="defUser"/>
</Values>
