<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="users" id="1" javaclass="com.wm.util.Values">
    <record name="Administrator" id="2" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="3">Administrator</value>
      <value name="pass" id="4">(secret)</value>
      <value name="passHash" id="5">{sha-256_v2}iVRUUr9b2Wu6nClwhgtMp9ulAfirRX28TQKQIhlpvoetiWEVA9Eu4TAxMDAw</value>
      <record name="members" id="6" javaclass="com.wm.util.Values">
        <value name="Replicators" id="7">Replicators</value>
        <value name="MonitorAdministrators" id="8">MonitorAdministrators</value>
        <value name="Administrators" id="9">Administrators</value>
        <value name="Everybody" id="10">Everybody</value>
      </record>
      <value name="enabled" id="11">true</value>
      <value name="allowDigestAuth" id="12">false</value>
      <value name="passwordUpdatedOn" id="13">2019-11-22 13:56:58 EST</value>
      <array name="passwordHistory" type="record" depth="1" id="14">
      </array>
    </record>
    <record name="emailUser" id="15" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="16">emailUser</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="17">{sha-256_v2}hHSdITZ1I5R0mK3QlSL4IwVjUlXPzHgsOvCZ2Ov2AbDpdykDQehysDAxMDAw</value>
      <record name="members" id="18" javaclass="com.wm.util.Values">
        <object idref="10" name="Everybody"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="allowDigestAuth"/>
      <value name="passwordUpdatedOn" id="19">2021-05-12 13:01:02 EDT</value>
      <array name="passwordHistory" type="record" depth="1" id="20">
      </array>
    </record>
    <record name="onedata" id="21" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="22">onedata</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="23">{sha-256_v2}fWXE8BpYTeMNvTvAcRGDLqf3+yMpbXgTyQ3thWF6xn5qRzk6/uyjjjAxMDAw</value>
      <record name="members" id="24" javaclass="com.wm.util.Values">
        <value name="NCI-OneDataIHook" id="25">NCI-OneDataIHook</value>
        <value name="iHook" id="26">iHook</value>
        <object idref="10" name="Everybody"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="allowDigestAuth"/>
      <value name="passwordUpdatedOn" id="27">2021-05-06 11:37:07 EDT</value>
      <array name="passwordHistory" type="record" depth="1" id="28">
      </array>
    </record>
    <record name="Replicator" id="29" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="30">Replicator</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="31">{sha-256_v2}9e149iiCraSmQ9/XdKBc+/aclH36GjRrqnPSrKgpTksuxXV/h/ufdjAxMDAw</value>
      <record name="members" id="32" javaclass="com.wm.util.Values">
        <object idref="7" name="Replicators"/>
        <object idref="10" name="Everybody"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="allowDigestAuth"/>
      <value name="passwordUpdatedOn" id="33">2019-11-22 13:50:07 EST</value>
      <array name="passwordHistory" type="record" depth="1" id="34">
      </array>
    </record>
    <record name="biggersbb" id="35" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="36">biggersbb</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="37">{sha-256_v2}F4BhKXromJtycUEXsD0x6EJMa6FV9gd8LddAMzNjAtSfkrl6SSwRYzAxMDAw</value>
      <record name="members" id="38" javaclass="com.wm.util.Values">
        <object idref="7" name="Replicators"/>
        <value name="Developers" id="39">Developers</value>
        <object idref="9" name="Administrators"/>
        <object idref="10" name="Everybody"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="allowDigestAuth"/>
      <value name="passwordUpdatedOn" id="40">2021-04-20 13:25:22 EDT</value>
      <array name="passwordHistory" type="record" depth="1" id="41">
      </array>
    </record>
    <record name="Developer" id="42" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="43">Developer</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="44">{sha-256_v2}Hu/QJk9JQ+PSuSC+F4UeMdqE631xPkgfVC4pfDWpQbBMl9KTdQOPgTAxMDAw</value>
      <record name="members" id="45" javaclass="com.wm.util.Values">
        <object idref="39" name="Developers"/>
        <object idref="10" name="Everybody"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="allowDigestAuth"/>
      <object idref="33" name="passwordUpdatedOn"/>
      <array name="passwordHistory" type="record" depth="1" id="46">
      </array>
    </record>
    <record name="Default" id="47" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="48">Default</value>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="49" javaclass="com.wm.util.Values">
        <value name="Anonymous" id="50">Anonymous</value>
        <object idref="10" name="Everybody"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="allowDigestAuth"/>
      <object idref="33" name="passwordUpdatedOn"/>
      <array name="passwordHistory" type="record" depth="1" id="51">
      </array>
    </record>
    <record name="nashmt" id="52" javaclass="com.wm.app.b2b.server.User">
      <value name="name" id="53">nashmt</value>
      <object idref="4" name="pass"/>
      <value name="passHash" id="54">{sha-256_v2}8/zav415g6MFwFgXrHq4hpIweMjIpfjAiHyehvISpa1UGZYHBL297jAxMDAw</value>
      <record name="members" id="55" javaclass="com.wm.util.Values">
        <object idref="7" name="Replicators"/>
        <object idref="39" name="Developers"/>
        <object idref="26" name="iHook"/>
        <object idref="9" name="Administrators"/>
        <object idref="10" name="Everybody"/>
      </record>
      <object idref="11" name="enabled"/>
      <object idref="12" name="allowDigestAuth"/>
      <value name="passwordUpdatedOn" id="56">2022-03-07 10:40:20 EST</value>
      <array name="passwordHistory" type="record" depth="1" id="57">
      </array>
    </record>
  </record>
  <record name="groups" id="58" javaclass="com.wm.util.Values">
    <record name="NCI-OneDataIHook" id="59" javaclass="com.wm.app.b2b.server.Group">
      <object idref="25" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="60" javaclass="com.wm.util.Values">
        <object idref="22" name="onedata"/>
      </record>
      <object idref="11" name="enabled"/>
    </record>
    <record name="Replicators" id="61" javaclass="com.wm.app.b2b.server.Group">
      <object idref="7" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="62" javaclass="com.wm.util.Values">
        <object idref="3" name="Administrator"/>
        <object idref="30" name="Replicator"/>
        <object idref="36" name="biggersbb"/>
        <object idref="53" name="nashmt"/>
      </record>
      <object idref="11" name="enabled"/>
    </record>
    <record name="Developers" id="63" javaclass="com.wm.app.b2b.server.Group">
      <object idref="39" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="64" javaclass="com.wm.util.Values">
        <object idref="36" name="biggersbb"/>
        <object idref="43" name="Developer"/>
        <object idref="53" name="nashmt"/>
      </record>
      <object idref="11" name="enabled"/>
    </record>
    <record name="iHook" id="65" javaclass="com.wm.app.b2b.server.Group">
      <object idref="26" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="66" javaclass="com.wm.util.Values">
        <object idref="22" name="onedata"/>
        <object idref="53" name="nashmt"/>
      </record>
      <object idref="11" name="enabled"/>
    </record>
    <record name="MonitorAdministrators" id="67" javaclass="com.wm.app.b2b.server.Group">
      <object idref="8" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="68" javaclass="com.wm.util.Values">
        <object idref="3" name="Administrator"/>
      </record>
      <object idref="11" name="enabled"/>
    </record>
    <record name="Administrators" id="69" javaclass="com.wm.app.b2b.server.Group">
      <object idref="9" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="70" javaclass="com.wm.util.Values">
        <object idref="3" name="Administrator"/>
        <object idref="36" name="biggersbb"/>
        <object idref="53" name="nashmt"/>
      </record>
      <object idref="11" name="enabled"/>
    </record>
    <record name="Anonymous" id="71" javaclass="com.wm.app.b2b.server.Group">
      <object idref="50" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="72" javaclass="com.wm.util.Values">
        <object idref="48" name="Default"/>
      </record>
      <object idref="11" name="enabled"/>
    </record>
    <record name="Everybody" id="73" javaclass="com.wm.app.b2b.server.Group">
      <object idref="10" name="name"/>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="74" javaclass="com.wm.util.Values">
        <object idref="3" name="Administrator"/>
        <object idref="16" name="emailUser"/>
        <object idref="22" name="onedata"/>
        <object idref="30" name="Replicator"/>
        <object idref="36" name="biggersbb"/>
        <object idref="43" name="Developer"/>
        <object idref="48" name="Default"/>
        <object idref="53" name="nashmt"/>
      </record>
      <object idref="11" name="enabled"/>
    </record>
    <record name="MonitorUsers" id="75" javaclass="com.wm.app.b2b.server.Group">
      <value name="name" id="76">MonitorUsers</value>
      <object idref="4" name="pass"/>
      <null name="passHash"/>
      <record name="members" id="77" javaclass="com.wm.util.Values">
      </record>
      <object idref="11" name="enabled"/>
    </record>
  </record>
  <object idref="73" name="allusers"/>
  <object idref="2" name="adminUser"/>
  <object idref="47" name="defUser"/>
</Values>
